{% extends "base.html" %}
{% load static %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'reviews/css/reviews.css' %}">

{% endblock %}

{% block content %}

<!--Header-->

    <div class="container-fluid mx-auto row justify-content-center">
        <h1 class="mt-5 pt-5 header profile-header">Reviews</h1>
        <br>
    </div>

    {% if request.user.is_authenticated %}

    <div class="container-fluid mx-auto row justify-content-center">
        <a href="{% url 'review_create' %}" class="btn btn-outline page-button m-3">
            <i class="fas fa-pen-square"></i>
                Add Review
        </a>
        <br>
    </div>

    {% endif %}

<!--End of Header Section-->

<!--Reviews Section-->

    <section>
        <div class="row">
            {% for review in reviews %}
                <div class="col-12 col-md-4">
                    <div class="card m-5 mx-auto text-center card-outline">
                        <div class="card-body">
                            <p>
                                <small class="small">Customer</small>
                            </p>
                            <h5 class="card-title">{{ review.user }}</h5>
                            <p>
                                <small class="small">From</small>
                            </p>
                            <p class="card-text review-text">{{ review.city }}, {{ review.country }}</p>
                            <p>
                                <small class="small">Favourite Image</small>
                            </p>
                            <p class="card-text review-text">{{ review.favourite_image }}</p>
                            <p>
                                <small class="small">Comments</small>
                            </p>
                            <p class="card-text review-text">{{ review.review }}</p>
                            <p>
                                <small class="small">Rating</small>
                            </p>
                            <p class="card-text">{{ review.rating }}/5 </p>
                            <p>
                                <small class="small">Image</small>
                            </p>
                            <img class="card-img-top" src="/media/{{ review.favourite_image }}.jpg" alt="Card image cap">
                            {% if review.user == user %}
                                <a href="{% url 'review_update' review.id %}" class="btn btn-outline page-button m-3">
                                    <i class="fas fa-pen-square"></i>
                                        Edit
                                </a>
                                <a href="{% url 'review_delete' review.id %}" class="btn btn-outline page-button m-3">
                                    <i class="fas fa-trash"></i>
                                        Delete
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

<!--End of Reviews Section-->

{% endblock %}

