{% extends "base.html" %}
{% load static %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'reviews/css/reviews.css' %}">

{% endblock %}

{% block content %}

<!--Header-->

    <div class="container-fluid mx-auto row justify-content-center">
        <h1 class="mt-5 pt-5 header profile-header">Reviews</h1>
        <br>
    </div>

<!--End of Header Section-->

<!--Reviews-->

    <section>
        <div class="row">
            {% for review in reviews %}
                <div class="col-12 col-md-4">
                    <div class="card m-5 mx-auto text-center card-outline">
                        <div class="card-body">
                            <p>
                                <small class="small">User</small>
                            </p>
                            <h5 class="card-title">{{ review.user }}</h5>
                            <p>
                                <small class="small">From</small>
                            </p>
                            <p class="card-text review-text">{{ review.city }}, {{ review.country }}</p>
                            <p>
                                <small class="small">Favourite Image</small>
                            </p>
                            <p class="card-text review-text">{{ review.favourite_image }}</p>
                            <p>
                                <small class="small">Comments</small>
                            </p>
                            <p class="card-text review-text">{{ review.review }}</p>
                            <p>
                                <small class="small">Rating</small>
                            </p>
                            <p class="card-text">{{ review.rating }}/5 </p>
                            <p>
                                <small class="small">Image</small>
                            </p>
                            <img class="card-img-top" src="/media/{{ review.favourite_image }}.jpg" alt="Card image cap">
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

<!--End of Reviews Section-->

{% endblock %}

