{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">

{% endblock %}

{% block content %}

<!--Header-->

    {% if cart_items %}

    <div class="container-fluid mx-auto row justify-content-center">
        <h1 class="mt-5 pt-5 header">Welcome to your Cart!</h1>
        <!-- <br> -->
    </div>
    <div class="container-fluid mx-auto row justify-content-center">
        <h5 class="header">Your present cart total is: €{{ total|floatformat:2 }}</h5>
    </div>
    <div class="row">
        <div class="mx-auto text-center">
            <a href="{% url 'photos' %}" class="btn btn-outline page-button">
                <i class="far fa-image"></i>
                Visit Gallery
            </a>
            <a href="{% url 'checkout' %}" class="btn btn-outline page-button">
                <i class="fas fa-shopping-cart"></i>
                Checkout
            </a>
        </div>
    </div> 

<!--End of Header Section-->

<!--Items in Cart Section-->
    
    <div class="container-fluid mx-auto">
        <div class="row">
            {% for item in cart_items %}
                <div class="card m-5 mx-auto text-center card-outline">
                    <img class="card-img-top" src="{{ item.photo.image.url }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.photo.title }}</h5>
                        <p>
                            <small class="small">Quantity</small>
                        </p>
                        <p class="card-text">{{ item.quantity }} @ €{{ item.photo.price }} per item</p>
                        <p>
                            <small class="small">Edit Quantity</small>
                        </p>
                        <form class="form update-form" action="{% url 'edit_cart' item.item_id %}" method="POST">
                            {% csrf_token %}
                                <input class="form-control qty_input" type="number" name="quantity" list="quantity" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}" placeholder="Select">
                                <span class="validity"></span>
                                <datalist id="quantity">
                                    <option value="0"></option>
                                    <option value="1"></option>
                                    <option value="2"></option>
                                    <option value="3"></option>
                                    <option value="4"></option>
                                    <option value="5"></option>
                                </datalist>
                                <br>
                                <div class="mx-auto text-center"><button type="submit" class="btn btn-sm info-button mr-2">Edit</button>
                                <a href="{% url 'remove_from_cart' item.item_id %}" class="btn btn-sm info-button mr-2">Delete</a></div>
                        </form>
                        <br>
                        <p>
                            <small class="small">Total</small>
                        </p>
                        <p class="card-text">€{{ item.photo.price | calc_subtotal:item.quantity }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <br>
    <br>
    {% else %}
    <div class="container-fluid mx-auto nothing-in-cart">
        <div class="row">
            <div class="m5 mx-auto text-center">
                <h2 class="mt-3 pt-3 header">There's nothing in your Cart.</h2>
            </div>
        </div>
        <div class="row">
            <div class="mx-auto text-center">
                <a href="{% url 'photos' %}" class="btn btn-outline page-button">
                    <i class="far fa-image"></i>
                    Visit Gallery
                </a>
            </div>
        </div>
    </div>

    {% endif %}

<!--End of Items in Cart Section-->

{% endblock %}
