.input {
    display: inline;
}

.form-control {
    text-align: center;
}

.profile-header {
    text-transform: capitalize;
}

.review-text {
    text-transform: capitalize;
}

.page-button {
    display: inline;
}

/*-----------------------Media Queries*/

@media screen and (max-width: 767px) {

    
    .bottom {
        display: none !important;
    }

}

