
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Work+Sans&display=swap');

html {
    height: 100%;
}

body {
    font-family: 'Inter', sans-serif !important;
    background-color: #FBFFFC;
}

h1, h2, h3, h4, h5,
.small {
    font-family: 'Work Sans', sans-serif !important;
}

.header {
    color: #141411;
}

/*-----------------------Navbar*/

.navbar {
    background-color: #c70000;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0px;
    padding: 20px 0px;
    border-radius: 0px;
}

.navbar-brand {
    font-size: 20px;
    padding-left: 30px;
    color: #FBFFFC !important;
    font-family: 'Work Sans', sans-serif !important;
}

div.dropdown-menu.show {
    background-color: #c70000 !important;
    color: #FBFFFC !important;
    padding: 0;
    text-align: center;
}

.navbar-nav :link,
.navbar-nav :visited {
    color: #FBFFFC!important;
    background-color: #c70000;
    font-size: 12px;
    justify-content: center;
}

.navbar-nav :hover,
.navbar-nav :active {
    color: #141411!important;
}

/*-----------------------Footer*/

#footer {
    background-color: #c70000;
    color: #FBFFFC;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
    overflow: hidden;
    position: fixed;
    bottom: 0;
}

/*-----------------------Home Page*/

.cover-image {
    background-image: url('/media/home.jpg');
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    position: relative;
}

.cover-text {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FBFFFC;
    opacity: 0.8;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.home-button {
    color:  #FBFFFC;
    background-color: #c70000;
    border-color: #141411;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

.home-button:hover,
.home-button:active,
.info-button:hover,
.info-button:active {
    color: #FBFFFC;
    background-color: #141411;
    border-color: #BBE6CA;
    text-decoration: none;
}

/*-----------------------Photo App*/

.info-button {
    color:  #FBFFFC;
    background-color: #c70000;
    border-color: #141411;
    font-size: 15px;
    text-transform: capitalize;
    text-decoration: none;
}

.card {
    width: 24rem;
}

.card-outline {
    border: solid #141411 2px;
}

.card-title {
    text-transform: capitalize;
}

.page-button {
    color:  #c70000;
    border-color: #141411;
}

.page-button:hover,
.page-button:active {
    border-color: #BBE6CA;
}

.small {
    text-decoration: underline;
}

.form-group {
    width: 200px;
}

/*-----------------------Media Queries*/

@media screen and (max-width: 767px) {

    .cover-image {
        background-image: url('/media/home-small.jpg');
        height: 600px;
    }

    .info-button {
        font-size: 8px;
    }

    .card {
        width: 18rem;
    }

}

@media screen and (min-width: 768px) and (max-width: 991px) {

    .cover-image {
        background-image: url('/media/home-medium.jpg');
        height: 1000px;
    }

}