{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">

{% endblock %}

{% block content %}

<!--Header-->

    <div class="container-fluid mx-auto row justify-content-center">
        <h1 class="mt-5 pt-5 header profile-header" id="top">Tours</h1>
        <br>
    </div>

    <div class="container-fluid mx-auto row justify-content-center">
        <article>
            <h3>For Summer 2021, The New Gallery has ambitious plans...</h3>
            <br>
            <p class="text-center">We plan to launch curated tours marrying our interests of Photography and Cycling.</p>
            <br>
            <p class="text-center">Full Pricing and Dates are to be confirmed.</p>
            <br>
            <p class="text-center">To register your interest please complete the <a href="#">form</a> below.</p>
        </article>
        <br>
    </div>
    
    <div class="col-12 mx-auto text-center">
        <div class="row">
            <div class="card mx-auto text-center card-outline">
                <form class="form" action="{% url 'tours' %}" method="POST">
                    <div class="form-row">
                        <div class="col-12 mx-auto text-center">
                            {% csrf_token %}
                            <fieldset class="fields">
                                {{ form.tour | as_crispy_field}}
                                {{ form.date_preference | as_crispy_field}}
                                {{ form.analogue_or_digital | as_crispy_field}}
                                {{ form.skill_level | as_crispy_field}}
                                {{ form.dietary_requirements | as_crispy_field}}
                                {{ form.any_comments | as_crispy_field }}
                            </fieldset>
                            <div class="form-group">
                <button class="btn btn-outline page-button mb-5">
                    <i class="fas fa-pen-square"></i>
                        Submit
                </button>
            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>





    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 m-5 p-5 mx-auto text-center">
                <div class="row">
                    <div class="col-md-12" id="details">
                        <h2>Tour Options</h2>
                        <div class="card mx-auto text-center card-outline">
                            <p>
                                <small class="small">Tour 1</small>
                            </p>
                            <p>Wild Atlantic Way Ireland</p>
                            <p>
                                <small class="small">Date:</small>
                            </p>
                            <p>July 2021</p>
                            <p>
                                <small class="small">Duration:</small>
                            </p>
                            <p>5 Days</p>
                            <p>
                                <small class="small">Name:</small>
                            </p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 m-5 p-5 mx-auto text-center">
                <div class="row">
                    <div class="col-md-12" id="orders">
                        <h2>Your Orders</h2>
                        {% for order in orders %}
                        <div class="container-fluid mx-auto  order-details">
                            <div class="row">
                                <div class="card mx-auto text-center card-outline">
                                    <p>
                                        <small class="small">Order:</small>
                                    </p>
                                    <p>{{ order.order_number }}</p>
                                    <p>
                                        <small class="small">Date:</small>
                                    </p>
                                    <p>{{ order.date }}</p>
                                    <p>
                                        <small class="small">Order Cost</small>
                                    </p>
                                    <p>{{ order.order_total }}</p>
                                    <p>
                                        <small class="small">Name:</small>
                                    </p>
                                    <p>{{ order.full_name }}</p>
                                    <p>
                                        <small class="small">Email:</small>
                                    </p>
                                    <p>{{ order.email }}</p>
                                    <p>
                                        <small class="small">Phone:</small>
                                    </p>
                                    <p>{{ order.phone_number }}</p>
                                    <p>
                                        <small class="small">Street 1:</small>
                                    </p>
                                    <p>{{ order.street_address_1 }}</p>
                                    {% if order.street_address_2 %}
                                        <p>
                                            <small class="small">Street 2</small>
                                        </p>
                                        <p>{{ order.street_address_2 }}</p>
                                    {% endif %}
                                    <p>
                                        <small class="small">County</small>
                                    </p>
                                    <p>{{ order.county }}</p>
                                    <p>
                                        <small class="small">Postcode</small>
                                    </p>
                                    <p>{{ order.postcode }}</p>
                                    <p>
                                        <small class="small">City</small>
                                    </p>
                                    <p>{{ order.city }}</p>
                                    <p>
                                        <small class="small">Country</small>
                                    </p>
                                    <p>{{ order.country }}</p>
                                    <p>
                                        <small class="small">Email Print</small>
                                    </p>
                                    <p>{{ order.email_print }}</p>
                                    <br>
                                    <p>Thank you for your custom!</p>
                                    <div class="col-12">
                                        <a href="{% url 'photos' %}" class="btn btn-outline page-button">
                                            <i class="far fa-image"></i>
                                                Visit Gallery
                                        </a>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mx-auto row justify-content-center">
        <a href="#top" class="btn btn-outline page-button m-5">
            <i class="fas fa-arrow-up"></i>
                Back to Top
        </a>
        <br>
    </div>

<!--End of Header Section-->





{% endblock %}