{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

    <div class="container-fluid col-12 mx-auto text-center">
        <h1 class="m-5 p-5">{% trans "Logout" %}</h1>

        <p>{% trans 'Are you sure you want to Logout?' %}</p>

        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button type="submit" class="btn btn-sm info-button">{% trans 'Logout' %}</button>
        </form>
    </div>

{% endblock %}
