{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}

    <div class="container-fluid col-12 mx-auto text-center">
        <h1 class="m-5 p-5">{% trans "Set Password" %}</h1>
        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-sm info-button" name="action" value="{% trans 'Set Password' %}" />
        </form>
    </div>

{% endblock %}
