{% extends "base.html" %}
{% load static %}
{% block content %}

<!--Header-->

    <div class="container-fluid mx-auto row justify-content-center">
        <h1 class="mt-5 pt-5 header">Welcome to The New Gallery</h1>
        <br>
    </div>

<!--End of Header Section-->

<!--Article-->

    <article>
        <p class="text-center mb-5">Please peruse our selection of bespoke Photographs.</p>
    </article>

<!--End of Article Section-->

<!--Filter-->

    <section>
        <div class="container-fluid mx-auto row justify-content-center">
            <div class="row">
                <div class="col-12 mx-auto">
                    <h2 class="text-center header">Filter</h2>
                    <form class="medium-filter">
                        <div class="input-group">
                            <a href="{% url 'photos' %}" class="btn btn-outline page-button mr-1">All</a>
                            <input class="btn btn-outline page-button mr-1" type="submit" name="q" value="Forest">
                            <br>
                            <input class="btn btn-outline page-button mr-1" type="submit" name="q" value="Nature">
                            <br>
                            <input class="btn btn-outline page-button mr-1" type="submit" name="q" value="People">
                            <br>
                            <input class="btn btn-outline page-button mr-1" type="submit" name="q" value="Sea">
                            <br>
                            <input class="btn btn-outline page-button mr-1" type="submit" name="q" value="Stills">
                            <br>
                            <input class="btn btn-outline page-button mr-1" type="submit" name="q" value="Street">
                        </div>
                    </form>

                    <!--Filter For Mobile-->
                    <form class="small-filter">
                        <select name="q" id="q" class="q-field">
                            <option value="" disbaled selected>Select</option>
                            <option value="Forest" name="q" >Forest</option>
                            <option value="Nature" name="q" >Nature</option>
                            <option value="People" name="q" >People</option>
                            <option value="Sea" name="q" >Sea</option>
                            <option value="Stills" name="q" >Stills</option>
                            <option value="Street" name="q" >Street</option>
                        </select>
                        <br>
                        <button type="submit" class="btn btn-sm info-button">
                            <i class="far fa-check-circle"></i>
                                Select
                        </button>
                        <a href="{% url 'photos' %}" class="btn btn-sm info-button">
                            <i class="far fa-image"></i>
                                View All
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </section>

<!--End of Filter Section-->

<!--Photos-->

    <section>
        <div class="row">
            {% for photo in photos %}
                <div class="col-12 col-md-4">
                    <div class="card m-5 mx-auto text-center card-outline">
                        <img class="card-img-top" src="{{ photo.image.url }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ photo.title }}</h5>
                            <p>
                                <small class="small">Price</small>
                            </p>
                            <p class="card-text">€{{ photo.price }}</p>
                            <a href="{% url 'photo_detail' photo.id %}" class="btn btn-sm info-button">
                                <i class="fas fa-info-circle"></i>
                                    Further Details
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

<!--End of Photo Section-->

<!--Pagination-->

    <section>
        <div class="m-5 text-center">
            <div class="row">
                <div class="col-12">
                    {% if photos.has_previous %}
                        <a href="?page=1" class="btn btn-outline page-button"><i class="fas fa-angle-double-left"></i> First</a>
                        <a href="?page={{ photos.previous_page_number }}" class="btn btn-outline page-button">
                            <i class="fas fa-angle-left"></i> Previous</a>
                    {% endif %}

                    {% if photos.has_next %}
                        <a href="?page={{ photos.next_page_number }}" class="btn btn-outline page-button">
                            Next <i class="fas fa-chevron-right"></i></a>
                        <a href="?page={{ photos.paginator.num_pages }}" class="btn btn-outline page-button">
                            Last <i class="fas fa-angle-double-right"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <br>

<!--End of Pagination Section-->

{% endblock %}