{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>

        {% block meta %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% endblock %}

        {% block corecss %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock %}

        {% block extra_css %}
        {% endblock %}

        {% block corejs %}
            <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
            <script src="https://kit.fontawesome.com/d5e3ed6ffa.js" crossorigin="anonymous"></script>
        {% endblock %}

        {% block extra_js %}
        {% endblock %}

        <title>The New Gallery {% block extra_title %}{% endblock %}</title>

    </head>

    <body>
        {% block header %}

           <section>
               <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="navbar">
                    <a class="navbar-brand" href="{% url 'home' %}">The New Gallery</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list" aria-controls="navbar-list" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbar-list">
                        <ul class="navbar-nav mx-auto text-center">
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'photos' %}">Gallery</a>
                            </li>
                            <li class="nav-item">
                                <li class="list-inline-item">
                                    <a class="nav-link" href="{% url 'view_cart' %}">
                                        <div class="text-center">
                                            <div>
                                                Cart
                                                {% if total %}
                                                    €{{ total|floatformat:2 }}
                                                {% else %}
                                                    €0.00
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Account
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    {% if request.user.is_authenticated %}
                                        <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                                        <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                                    {% else %}
                                        <a class="dropdown-item" href="{% url 'account_login' %}">Login</a>
                                        <a class="dropdown-item" href="{% url 'account_signup' %}">Register</a>
                                    {% endif %}
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
           </section>

        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block footer %}

            <section>
                <footer>
                    <div class="container-fluid text-center" id="footer">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                Website by David Connaughton 2020©
                            </div>
                        </div>
                    </div>
                </footer>
            </section>

        {% endblock %}

        {% block postload_js %}
            <script src="https://js.stripe.com/v3/"></script>
        {% endblock %}

    </body>

</html>