.form-control {
    text-align: center;
}

/* .fields,
.input {
    display: inline;
    padding-top: 10px;
} */

.form-all {
    background-color: #FBFFFC;
}

input,
select {
    border: solid #c70000 1px !important;
}

.hide {
    display: none;
}

marquee {
    color: #c70000;
}

.form-check-label {
    display: inline;
}

.checkout-button {
    margin-left: auto;
    margin-right: auto;
}


/* Stripe Styling from Stripe Documentation */

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: #FBFFFC;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #FBFFFC;
}

.StripeElement--webkit-autofill {
  background-color: #FBFFFC !important;
}

.stripe-style-input::placeholder {
    color: #141411;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #141411;
    border:  solid #c70000 1px !important;
    max-width: 450px;
}



/*-----------------------Media Queries*/

@media screen and (max-width: 767px) {

    /* .fields {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px; 
    } */

}

